@import url('https://fonts.googleapis.com/css?family=Pacifico|Russo+One');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Titillium+Web|ZCOOL+QingKe+HuangYou');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "comfortaa",cursive;
}
ul{
    list-style-type: none;
}

.container{
    position: absolute;
    margin: auto;
    overflow: hidden;
    padding-left: 0;
    margin-top: 80px;

}
/* Header holding nav-bar*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #006f6a;
    z-index: 200;
}
/*  The container for side nav box*/
.nav-inbox {
    position: fixed;
    background: #3f0e40;
    font-size: 12px;
    width: 15%;
    padding-top: 100px;
    bottom: 0;
    top:20px;
}
/*  The space between the list items */
.nav-inbox li{
   padding: 15px;
}
/* side navbox links */
.nav-inbox li a{
    text-decoration: none;
    color:#fff;
}

/*  Change the color of the icons from back to white */
.invert{
    -webkit-filter: invert(100%);
}

/*  Container for the table in the middle*/
.table-inbox{
    width: 85%;
    position: fixed;
    overflow: auto;
    margin-left: 15%;
    top: 0;
    margin-top: 70px;
    height: 80%;
}
/*  Table containing the emails */
table{
    font-weight: normal;
    width: 100%;
    position: relative;
}

/* Class fo the icons*/
.trashEmail{
    width: 20px;
}

/* Class for rows*/
.view{
    cursor: pointer;
}
.view:hover{
    background:#f1eef1;
}
/*  Input text, select and text area    */
.table-inbox input[type=text],select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    outline: none;
    box-shadow: none;
    font-family: "Comfortaa",cursive;
  }
  
 /*  Buttons   */
  .table-inbox input[type=submit] {
    background: linear-gradient(rgba(1, 0, 7, 0.9), rgba(2, 0, 8, 0.9));
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    margin-right: 50px;
    margin-top: 15px;
    font-family: "Comfortaa",cursive;
    outline: none;
    box-shadow: none;
    height: 50px;
  }
 
  .table-inbox input[type=submit]:hover {
    background-color: black;
  }
/*  Form to write a new email   */
  .table-inbox form{
    margin-left: 20px;
    margin-top: 30px;
    width: 90%;
  }
/* Form to create a new group   */
.group{
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 4px;
    margin-left: 30%;
    margin-top: 13%;
    width: 40%;
    padding: 30px 10px;
    text-align: center;
}

.group input[type=text]{
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 40px;
    margin-bottom: 20px;
    resize: vertical;
    outline: none;
    font-family: "Comfortaa",cursive;
  }

  .group .createGroup{
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    color: white;
    font-family: 'Rasa', serif;
    font-size: 16px;
    margin-top: 20px;
    background:  #202226;
    resize: vertical;
    outline: none;
    border: none;
    font-family: "Comfortaa",cursive;
}

.group .createGroup:hover{
    background-color: black;
}

.save{
    background: #ddd;
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    margin-right: 50px;
    margin-top: 15px;
    font-family: "Comfortaa",cursive;
    outline: none;
    box-shadow: none;
    height: 50px;
    text-transform: capitalize;

}
/* Styling the contaniner of the heading    */
.containers{
    top: 0;
    height: 60px;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 20px;
    box-shadow: 2px 0px 2px 2px #eaeaea;
    z-index: 100;
}
/*  Icon of the profile picture */
.profile-section{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    padding-top: 20px;
}
.avatar{
    width: 40px;
    height: 40px;
}
.avatar img{
    width: 100%;
    height: 100%;
}
/*  Styling the logo    */
.logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.logo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*  Logo inside the admin page  */
.admin-logo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
/*  Title of the app*/
.app-name h3{
    font-family: 'Russo One', sans-serif;
}

/*  Navbar of the admin page*/
.admin-nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    padding-top: 20px;
}

.admin-nav ul li{
    display: inline;
    padding-left: 20px;
    font-family: 'Titillium Web', sans-serif;
}
.admin-nav ul a{
    text-decoration: none;
    color: black;
}

.admin-nav ul a:hover{
    color: white;
}

.admin-nav ul .active{
    color: white;
}
/*  Icons for lint to different pages   */
.side-icon{
    width: 15px;
    height: 15px;
    display: inline-block;
}
/*  Links name  */
.side-title{
    display: inline-block;
    position: absolute;
    margin-top: 1px;
    margin-left: 10px;
}
.textArea{
    height: 150px;
}
/*  Compose button  */
.com-email{
    display: block;
    position: absolute;
}
/*  Compose button  */
.btn-com{
    padding: 10px;
    width: 150px;
    height: 50px;
    font-family: "Comfortaa",cursive;
    border: none;
    background: #1b1920;
    color: #fff;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.close{
    display: none;
}
.menuBar{
    display: none;
}

/* Styling the table    */
.table-responsive{
    margin-top: 30px;
    box-shadow: 0 5px 15px #ddddddb0;
    padding-bottom: 20px;
}
.table-responsive thead{
    border-bottom: 1px solid #ddd;
}
table th, table td {
    padding: 20px;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.message{
    top:50px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 30px;
}

/*  Paragraph to read email through */
.message p{
    padding-top: 20px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.view a{
    display: block;
    text-decoration: none;
    color: black;
}

.nav-inbox a{
    text-decoration: none;
    color: white;
    padding-top: 30px;
   
}
.nav-inbox .admin-nav-side{
    padding-left: 10px;
    margin-left: 20px;
    padding-top: 30px;
}

/*  making it responsive    */
  @media screen and (max-width: 768px){
    .container{
        width: 100%;
        padding-left: 0;
        margin-top: 0px;
    }

    nav{
        display: inline-block;
    }
    .table-inbox{
        position: relative;
        margin-left: 0;
        padding: 5px;
        margin-top: 0px;
        width: 97%;
    }
    .table-inbox form{
        width: 100%;
        margin-top: 15px;
    }

    td{
        padding-right: 50px;
        padding-left: 2px;
        height: 36px;
        vertical-align: middle;
        border-bottom: 1px solid #ddd;
    }

    .nav-content{
        position: absolute;
        top: 57px;
        color:white;
        overflow: hidden;
        background-color: #202226;
        width: 20%;
        max-height: 0px;
   
    }
    .nav-content a{
       color: white;
       text-decoration: none;
       padding-right: 30px;
    }
  
    .containers{
        height: auto;
        position: relative;
        padding-left: 15px;
        padding-bottom: 13px;
        box-shadow: 0px 0px 8px 2px #cccccc57;
    }
    /*  Remove compose button   */
    .btn-com{
        display: none;
    }
    /*  Putting the logo in the center on small screen*/
    .logo-header{
        justify-content: center;
    }
    /*Sidebar nav for small screen  */
    .nav-inbox{
        background:#3f0e40;
        width: 45%;
        position: fixed;
        z-index: 500;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0px 0px 8px 2px #cccccc57;
       transform:translateX(100%);
        -webkit-transform: translateX(100%);
        -webkit-transition:transform 0.6s ease;
        transition: transform 0.5s ease;
    }
    .admin-nav ul{
       display: none;
    }
    
    .close{
        margin: 10px;
        font-size: 25px;
        right: 0;
        top: 0;
        cursor: pointer;
        position: absolute;
        border: 1px solid #ddd;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        display: block;
    }
    .profile-section{
        left: 0;
        margin-left: 15px;
    }
    /*  Display menu bar in the smal screen   */
    .menuBar{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 15px;
        margin-top: 20px;
    }
    .nav-inbox ul{
        margin-top: 60px;
        margin-left: 20px;
    }
    .nav-inbox a{
        text-decoration: none;
    }
    .admin-nav-side{
        display: block;
        margin-top: 20px;
        color: white;
        font-size: 16px;
    }
  table td {
        text-align: justify;
    }

    .group{
        position: relative;
        width: 85%;
        margin-left: 4%;
        margin-top: 35%;  
        
    }
    }